.page        {
    bottom:0; 
    padding-top:200px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%;
}

.mainPage{
	background-color: #52B0B9 !important;
}

.searchPage {
	background:#00D0BC !important; color:#00907c;
}

.resultPage {
	background:#EAEAEA !important; color:#583A3A;
}

.searchInput {
	margin: 4% 0 4% 0;
}

.searchPageText{
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	color: #fff;
}

.searchPageDiv{
	text-align: center;
}

#main {
	text-align: center;
	vertical-align: middle;
}

#textCenter{
	font-family: 'Pacifico', cursive;
	left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

#main h1{
	font-size: 100px;
	color: #fff;
}


/*Results*/

.siteBrand {
    margin-bottom: 0;
}

.shift-right {
    padding-left: 50px;
}

.movieTitle{
    font-size: 25px;
}

.font-b {
    font-size: 17px;
}

.font-c {
    font-size: 15px;
}


img {
    max-height: 350px;
}

.headings {
    color: #D4152D;
    font-size: 17px;
}






/*transformations*/

@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@keyframes scaleDownCenter {
	to { opacity: 0; transform: scale(.7); }
}

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

.mainPage.ng-enter { animation: scaleUp 0.5s both ease-in; }
.mainPage.ng-leave { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

.searchPage.ng-enter { animation:slideInRight 0.5s both ease-in; }
.searchPage.ng-leave { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

.resultPage.ng-enter { animation:slideInRight 0.5s both ease-in; }
.resultPage.ng-leave { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }